html {
    --MAX-WIDTH: 1280px;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}
.header {
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: 10rem;
    transition: background-color 250ms;
    .container{
        display: flex;
        justify-content: space-between;
        max-width: var(--MAX-WIDTH);
        margin: auto;
    }
    &_logo {
        max-width: 15rem;
        max-height: 15rem;
        width: 100%;
        min-width: 6rem;
    }
    &_nav {
        .burger-menu[data-is-visible='false'] {
            display: none;
        }
        &_ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            &_li {
                padding: 2.5rem 1rem;
                & a {
                    color: white;
                    text-decoration: none;
                    font-weight: 500;
                }
                &_signup {
                    background-color: #23527c;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    &:hover {
                        background-color: #c9fb36;
                        color: #707070;
                    }
                }
                &_burger {
                    display: none;
                }
                & input {
                    display: none;
                }
            }
        }
    }
    &[data-is-sticky='false'] {
        background-color: rgba(1, 117, 53, 0.98);
        transition: background-color 250ms;
        .header_logo {
            &_big {
                display: block;
            }
            &_little {
                display: none;
            }
        }
    }
    &[data-is-sticky='true'] {
        transition: background-color 250ms;
        background-color: rgba(255, 255, 255, 0.98);
        color: #707070;
        .header_logo {
            &_big {
                display: none;
            }
            &_little {
                display: block;
                max-width: 10rem;
                max-height: 10rem;
            }
        }
        .header_nav {
            &_ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                &_li {
                    & a {
                        color: #707070;
                        text-decoration: none;
                        font-weight: 500;
                    }
                    &_signup {
                        color: white !important;
                        &:hover {
                            color: #707070 !important;
                        }
                    }
                }
            }
        }
    }
}
.about {
    background-color: rgb(1, 71, 88);
    &_track {
        padding: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        max-width: var(--MAX-WIDTH);
        margin: auto;
        &_h1 {
            margin: 0rem 7.5rem 6rem 7.5rem;
            font-size: 3.5rem;
        }
        &_p {
            width: 75%;
            font-size: 2.4rem;
            align-self: flex-end;
            padding: 1rem 0;
            font-weight: 300;
        }
    }
    &_whatitis {
        background-color: white;
        padding: 10rem;
        .container{
            max-width: var(--MAX-WIDTH);
            margin: auto;
        }
        &_h2 {
            position: relative;
            left: 25%;
            display: inline;
            font-size: 3.5rem;
            margin: 1.5rem 0;
            color: #707070;
        }
        &_ul {
            display: flex;
            list-style: none;
            margin: 4rem 0 2rem 0;
            justify-content: space-between;
            &_li {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                &_img {
                    width: 7rem;
                    margin: 1rem 0;
                }
                &_p {
                    font-size: 2.2rem;
                    padding: 0 1rem;
                    width: 80%;
                }
            }
        }
    }
    &_carrousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10rem 10rem 5rem;
        max-width: var(--MAX-WIDTH);
        margin: auto;
        &_img {
            max-width: 100%;
        }
    }
    &_video {
        max-width: var(--MAX-WIDTH);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 10rem;
        &_detail {
            width: 100%;
        }
    }
    &_callingout {
        color: white;
        width: 60%;
        margin: auto;
        .container{
            max-width: var(--MAX-WIDTH);
            margin: auto;

        }
        &_title {
            font-size: 3.5rem;
            margin: 5rem 0;
        }
        &_container {
            display: flex;
            flex-direction: row;
            border: 1px solid #32c77f;
            padding: 1rem;
            &_img {
                width: 100%;
                height: 20rem;
                position: relative;
                top: -3vmin;
                left: -10%;
                background-image: url('../img/CodecCarbon-cover-1200x788.jpg');
                transform: scale(120%);
            }
            &_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                &_h3 {
                    padding: 2rem 0 1rem 0;
                    font-size: 2.5rem;
                }
                &_p {
                    padding: 1rem 0;
                    font-size: 1.8rem;
                    & a {
                        text-decoration: none;
                        color: white;
                    }
                }
                &_a {
                    margin: 1rem 0;
                    text-align: center;
                    line-height: 1;
                    text-decoration: none;
                    color: #32c77f;
                    border: solid 2px #32c77f;
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
}
.howitwork {
    background-color: rgb(1, 71, 88);
    color: white;
    &_howto {
        margin: 0rem 10rem;
        padding: 10rem 0;
        max-width: var(--MAX-WIDTH);
        margin: auto;
        &_h2 {
            font-size: 3.5rem;
            padding: 0rem 0rem 5rem 0;
            width: 50%;
            margin: auto;
        }
        &_ul {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
            &_li {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 24rem;
                height: 100%;
                &_img {
                    width: 9rem;
                    &.hovered {
                        display: none;
                        opacity: 0;
                    }
                    &.not-hovered {
                        display: block;
                        opacity: 1;
                    }
                }
                &:hover {
                    .howitwork_howto_ul_li_img {
                        &.hovered {
                            display: block;
                            opacity: 1;
                        }
                        &.not-hovered {
                            display: none;
                            opacity: 0;
                        }
                    }
                }
                &:nth-child(1),
                &:nth-child(2) {
                    & p {
                        color: #c9fb36;
                    }
                }
                &_p {
                    width: 100%;
                    padding: 1rem 0;
                    text-align: center;
                }
                &_a {
                    text-align: center;
                    line-height: 1;
                    text-decoration: none;
                    color: #c9fb36;
                    border: solid 2px #c9fb36;
                    padding: 5px;
                    border-radius: 50%;
                }
                & a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 24rem;
                    height: 100%;
                    text-decoration: none;
                }
            }
        }
    }
    &_dashboard {
        background-color: white;
        padding-bottom: 10rem;
        &_hgroup {
            color: black;
            width: 50%;
            margin: auto;
            text-align: center;
            padding: 10rem 0;
            &_h2 {
                font-size: 3.5rem;
                padding-bottom: 2rem;
                color: #707070;
            }
            &_h3 {
                font-size: 2.4rem;
                color: #00532f;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-weight: 300;
            }
        }
        &_separator {
            background-color: #014758;
            height: 5rem;
            margin-bottom: 5rem;
        }
        &_box {
            display: flex;
            max-width: var(--MAX-WIDTH) ;
            width: 90%;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            font-size: 2.4rem;
            color: #00532f;
            &_img {
                width: 70rem;
            }
            &:nth-child(4) {
                flex-direction: row-reverse;
            }
        }
    }
}
.cta {
    background-color: rgb(1, 71, 88);
    padding: 10rem 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_hgroup {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 0 10rem 0;
        &_h2 {
            font-size: 3.5rem;
            margin-bottom: 3rem;
            font-weight: bold;
        }
        &_h3 {
            font-size: 2.4rem;
            font-weight: 300;
        }
    }
    &_box {
        border: 1px solid #32c77f;
        margin-bottom: 7rem;
        font-size: 2.4rem;
        color: white;
        display: flex;
        flex-direction: row;
        position: relative;
        &:last-child {
            margin-bottom: 10rem;
        }
        &_fill {
            min-width: 22rem;
            height: 20rem;
        }
        &_img {
            position: absolute;
            width: 40rem;
            right: 48rem;
            bottom: 1rem;
            object-position: 0 0px;
            object-fit: none;
        }
        &_p {
            width: 48rem;
            padding: 1.8rem 2rem 2rem 3rem;
        }
    }
    &_box:nth-of-type(2) {
        flex-direction: row-reverse;
        & img {
            left: 48rem;
            right: unset;
        }
    }
}
.actual_contrib{
    padding: 10rem 0;
    h2{
        text-align: center;
        margin: 5rem 0;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        list-style: none;
    }
    li{
        width: 15rem;
        margin: 1rem;
        img{
            width: 15rem;
            height: 15rem;
            object-fit: cover;
        }
    }
}
.team {
    background-color: rgb(1, 71, 88);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_h2 {
        font-size: 3.5rem;
        font-weight: bolder;
        width: 50%;
        text-align: center;
    }
    &_p {
        font-size: 2.4rem;
        font-weight: 400;
        margin-top: 5rem;
    }
    &_ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style: none;
        gap: 3rem;
        padding: 10rem;
        place-items: center;
        & img {
            width: 100%;
            max-width: 32rem;
        }
        &_innerUl {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 17rem 40rem 40rem 40rem;
            & h3 {
                font-weight: bold;
            }
            & p {
                font-weight: lighter;
                color: #32c77f;
            }
        }
    }
}

.clever {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    background-color: rgb(1, 71, 88);
    color: white;
    &_title {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 900;
        margin: 1rem 0 5rem 0;
        &_link {
            color: #32c77f;
            text-decoration: none;
        }
    }
    &_text {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 300;
    }
}

.footer {
    &_p {
        font-size: 1.4rem;
        padding: 2rem;
    }
}

@media screen and (max-width: 1280px) {
    .header {
        margin-bottom: 6rem;
    }
    .about {
        &_track {
            padding: 6rem 4rem;
            &_h1 {
                margin: 0rem 7.5rem 3rem 7.5rem;
            }
        }
        &_whatitis {
            padding: 6rem 4rem;
        }
        &_carrousel {
            padding: 6rem 4rem 0;
        }
        &_video {
            padding: 6rem 4rem;
            &_detail {
                width: 100%;
            }
        }
        &_callingout {
            width: 80%;
            &_title {
                font-size: 3.5rem;
                margin: 0 0 6rem 0;
            }
        }
    }
    .howitwork {
        &_howto {
            margin: 0rem 4rem;
            padding: 6rem 0;
        }
        &_dashboard {
            padding-bottom: 6rem;
            &_hgroup {
                width: 70%;
                padding: 6rem 0;
                &_h2 {
                    font-size: 2.4rem;
                    padding-bottom: 2rem;
                }
                &_h3 {
                    font-size: 1.8rem;
                }
            }
            &_box {
                font-size: 1.8rem;
                &_img {
                    max-width: 50rem;
                }
            }
            &_separator {
                margin-bottom: 3rem;
            }
        }
    }
    .cta {
        padding: 6rem 4rem 0;
        overflow-x: hidden;
        &_hgroup {
            padding-bottom: 6rem;
        }
        &_box {
            &:last-child {
                margin-bottom: 6rem;
            }
        }
    }
    .team {
        &_ul {
            grid-template-columns: 1fr 1fr;
            padding: 6rem 4rem;
        }
        &_h2 {
            width: 90%;
        }
    }
    .clever {
        padding-bottom: 6rem;
        &_title {
            margin-top: 0;
            margin-bottom: 3rem;
        }
    }
}
@media screen and (max-width: 850px) {
    .header {
        &_nav {
            &_ul {
                &_li {
                    &.in-burger {
                        display: none;
                    }
                    &_burger {
                        filter: invert(1);
                        margin-top: -0.7rem;
                        display: block;
                        z-index: 10;
                        & img {
                            width: 3.2rem;
                        }
                    }
                }
            }
        }
        .burger-menu[data-is-visible='false'] {
            display: none;
        }
        .burger-menu[data-is-visible='true'] {
            display: flex;
            position: fixed;
            flex-direction: column;
            z-index: -1;
            top: 0;
            right: 2rem;
            width: auto;
            height: auto;
            transform: translateY(7rem);
            background-color: rgba(1, 117, 53, 0.9);
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-radius: 0.5rem;
            & > .in-burger {
                display: flex;
                font-size: 2rem;
                height: 100%;
                margin: 1rem 0;
                & a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        &[data-is-sticky='true'] {
            & .header_nav_ul_li_burger img {
                filter: invert(1);
            }
            nav.header_nav {
                & ul.burger-menu[data-is-visible='true'] {
                    background-color: rgba(255, 255, 255, 0.9);
                    & a {
                        color: black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    body {
        font-size: 1.6rem;
    }
    .header {
        margin-bottom: 4rem;
        &_nav {
            &_ul {
                &_li {
                    //  padding: 0.7rem;
                    //  font-size: 1.4rem;
                    // font-weight: 300;
                    // text-align: center;
                }
            }
        }
    }
    .about {
        &_track {
            padding: 4rem 2rem;
            &_h1 {
                margin: 0 0 3rem 0;
            }
            &_p {
                width: unset;
            }
        }
        &_whatitis {
            padding: 4rem 2rem;
            &_ul {
                flex-direction: column;
                margin: 0;
                &_li {
                    &_img {
                        margin-top: 4rem;
                    }
                }
            }
        }
        &_carrousel {
            padding: 4rem 2rem;
        }
        &_video {
            padding: 0rem 2rem;
            &_detail {
                width: 100%;
            }
        }
        &_callingout {
            width: 90%;
            margin: auto;
            &_title {
                font-size: 2.4rem;
                margin: 4rem 0;
            }
            &_container {
                flex-direction: column;
                padding: 1rem;
                &_img {
                    width: 90%;
                    left: 5%;
                }
                &_wrapper {
                    &_h3 {
                        padding: 2rem 0 1rem 0;
                        font-size: 2.5rem;
                    }
                    &_p {
                        padding: 1rem 0;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    .howitwork {
        &_howto {
            margin: 0rem 0rem;
            padding: 4rem 2rem;
            &_h2 {
                padding: 0rem 0rem 2rem 0;
                width: 80%;
                margin: auto;
            }
            &_ul {
                &_li {
                    &_p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &_dashboard {
            padding-bottom: 4rem;
            &_hgroup {
                width: 80%;
                padding: 4rem 0;
                &_h2 {
                    padding-bottom: 2rem;
                }
            }
            &_box {
                &_img {
                    max-width: 20rem;
                }
            }
            &_separator {
                margin-bottom: 2rem;
            }
        }
    }
    .cta {
        padding: 4rem 2rem;
        overflow-x: hidden;
        &_box {
            flex-direction: column;
            &:last-child {
                margin-bottom: 4rem;
            }
            &_p {
                width: 90%;
            }
            &_img {
                right: unset;
                top: -6rem;
                left: 50%;
                width: 30rem;
            }
            &_fill {
                height: 10rem;
            }
        }
        &_box:nth-of-type(2) {
            flex-direction: column;
            & img {
                left: unset;
                right: 50%;
            }
        }
    }
    .team {
        &_h2 {
            width: 80%;
        }
        &_p {
            padding: 2rem;
        }
        &_ul {
            grid-template-columns: 1fr;
            padding: 2rem;

            &_innerUl:nth-child(1) {
                grid-template-rows: 17rem 40rem 40rem;
            }
        }
    }
    .clever {
        padding: 4rem 2rem;
        &_title {
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
    }
}
